@font-face {
	font-family: Times;
}
@font-face {
	font-family: Helvetica;
}
@font-face {
	font-family: Courier;
}
@font-face {
	font-family: Geneva;
}
@font-face {
	font-family: Tms Rmn;
}
@font-face {
	font-family: Helv;
}
@font-face {
	font-family: MS Serif;
}
@font-face {
	font-family: MS Sans Serif;
}
@font-face {
	font-family: New York;
}
@font-face {
	font-family: System;
}
@font-face {
	font-family: Wingdings;
}
@font-face {
	font-family: Mincho;
}
@font-face {
	font-family: Batang;
}
@font-face {
	font-family: 宋体;
}
@font-face {
	font-family: PMingLiU;
}
@font-face {
	font-family: Gothic;
}
@font-face {
	font-family: Dotum;
}
@font-face {
	font-family: 黑体;
}
@font-face {
	font-family: MingLiU;
}
@font-face {
	font-family: MS Mincho;
}
@font-face {
	font-family: Gulim;
}
@font-face {
	font-family: MS Gothic;
}
@font-face {
	font-family: Century;
}
@font-face {
	font-family: 楷体_GB2312;
}
@font-face {
	font-family: @宋体;
}
@font-face {
	font-family: @楷体_GB2312;
}
@font-face {
	font-family: 方正书宋简体;
}
@font-face {
	font-family: 方正小标宋简体;
}
@font-face {
	font-family: 方正仿宋简体;
}
@font-face {
	font-family: @黑体;
}
@font-face {
	font-family: @方正小标宋简体;
}
@font-face {
	font-family: @方正书宋简体;
}
@font-face {
	font-family: @方正仿宋简体;
}
@font-face {
	font-family: @System;
}
@font-face {
	font-family: Fixedsys;
}
@font-face {
	font-family: @Fixedsys;
}
@font-face {
	font-family: Terminal;
}
@font-face {
	font-family: Small Fonts;
}
@font-face {
	font-family: Marlett;
}
@font-face {
	font-family: 仿宋_GB2312;
}
@font-face {
	font-family: @仿宋_GB2312;
}
@font-face {
	font-family: Lucida Console;
}
@font-face {
	font-family: Tahoma;
}
@font-face {
	font-family: Arial Black;
}
@font-face {
	font-family: Comic Sans MS;
}
@font-face {
	font-family: Impact;
}
@font-face {
	font-family: Verdana;
}
@font-face {
	font-family: Webdings;
}
@font-face {
	font-family: 幼圆;
}
@font-face {
	font-family: @幼圆;
}
@font-face {
	font-family: @MingLiU;
}
@font-face {
	font-family: @PMingLiU;
}
@font-face {
	font-family: 方正舒体;
}
@font-face {
	font-family: @方正舒体;
}
@font-face {
	font-family: 方正姚体;
}
@font-face {
	font-family: @方正姚体;
}
@font-face {
	font-family: 隶书;
}
@font-face {
	font-family: @隶书;
}
@font-face {
	font-family: 华文彩云;
}
@font-face {
	font-family: @华文彩云;
}
@font-face {
	font-family: 华文细黑;
}
@font-face {
	font-family: @华文细黑;
}
@font-face {
	font-family: 华文行楷;
}
@font-face {
	font-family: @华文行楷;
}
@font-face {
	font-family: 华文新魏;
}
@font-face {
	font-family: @华文新魏;
}
@font-face {
	font-family: 华文中宋;
}
@font-face {
	font-family: @华文中宋;
}
@font-face {
	font-family: Arial Narrow;
}
@font-face {
	font-family: Book Antiqua;
}
@font-face {
	font-family: Bookman Old Style;
}
@font-face {
	font-family: Century Gothic;
}
@font-face {
	font-family: Garamond;
}
@font-face {
	font-family: Haettenschweiler;
}
@font-face {
	font-family: Monotype Corsiva;
}
@font-face {
	font-family: MS Outlook;
}
@font-face {
	font-family: Trebuchet MS;
}
@font-face {
	font-family: Wingdings 2;
}
@font-face {
	font-family: Wingdings 3;
}
@font-face {
	font-family: News Gothic MT;
}
@font-face {
	font-family: Lucida Handwriting;
}
@font-face {
	font-family: Lucida Sans;
}
@font-face {
	font-family: Lucida Sans Unicode;
}
@font-face {
	font-family: OCR A Extended;
}
@font-face {
	font-family: Calisto MT;
}
@font-face {
	font-family: Abadi MT Condensed Light;
}
@font-face {
	font-family: Copperplate Gothic Bold;
}
@font-face {
	font-family: Copperplate Gothic Light;
}
@font-face {
	font-family: Matisse ITC;
}
@font-face {
	font-family: Tempus Sans ITC;
}
@font-face {
	font-family: Westminster;
}
@font-face {
	font-family: 方正楷体简体;
}
@font-face {
	font-family: @方正楷体简体;
}
@font-face {
	font-family: 方正报宋简体;
}
@font-face {
	font-family: @方正报宋简体;
}
@font-face {
	font-family: 方正宋三简体;
}
@font-face {
	font-family: @方正宋三简体;
}
@font-face {
	font-family: 方正细等线简体;
}
@font-face {
	font-family: @方正细等线简体;
}
@font-face {
	font-family: 方正中等线简体;
}
@font-face {
	font-family: @方正中等线简体;
}
@font-face {
	font-family: 方正细黑一简体;
}
@font-face {
	font-family: @方正细黑一简体;
}
@font-face {
	font-family: 方正新报宋简体;
}
@font-face {
	font-family: @方正新报宋简体;
}
@font-face {
	font-family: 方正宋一简体;
}
@font-face {
	font-family: @方正宋一简体;
}
@font-face {
	font-family: 方正黑体简体;
}
@font-face {
	font-family: @方正黑体简体;
}
@font-face {
	font-family: 方正大黑简体;
}
@font-face {
	font-family: @方正大黑简体;
}
@font-face {
	font-family: 方正大标宋简体;
}
@font-face {
	font-family: @方正大标宋简体;
}
@font-face {
	font-family: 方正宋黑简体;
}
@font-face {
	font-family: @方正宋黑简体;
}
@font-face {
	font-family: 方正粗宋简体;
}
@font-face {
	font-family: @方正粗宋简体;
}
@font-face {
	font-family: 方正细圆简体;
}
@font-face {
	font-family: @方正细圆简体;
}
@font-face {
	font-family: 方正准圆简体;
}
@font-face {
	font-family: @方正准圆简体;
}
@font-face {
	font-family: 方正粗圆简体;
}
@font-face {
	font-family: @方正粗圆简体;
}
@font-face {
	font-family: 方正琥珀简体;
}
@font-face {
	font-family: @方正琥珀简体;
}
@font-face {
	font-family: 方正综艺简体;
}
@font-face {
	font-family: @方正综艺简体;
}
@font-face {
	font-family: 方正姚体简体;
}
@font-face {
	font-family: @方正姚体简体;
}
@font-face {
	font-family: 方正美黑简体;
}
@font-face {
	font-family: @方正美黑简体;
}
@font-face {
	font-family: 方正水柱简体;
}
@font-face {
	font-family: @方正水柱简体;
}
@font-face {
	font-family: 方正彩云简体;
}
@font-face {
	font-family: @方正彩云简体;
}
@font-face {
	font-family: 方正超粗黑简体;
}
@font-face {
	font-family: @方正超粗黑简体;
}
@font-face {
	font-family: 方正少儿简体;
}
@font-face {
	font-family: @方正少儿简体;
}
@font-face {
	font-family: 方正稚艺简体;
}
@font-face {
	font-family: @方正稚艺简体;
}
@font-face {
	font-family: 方正细珊瑚简体;
}
@font-face {
	font-family: @方正细珊瑚简体;
}
@font-face {
	font-family: 方正华隶简体;
}
@font-face {
	font-family: @方正华隶简体;
}
@font-face {
	font-family: 方正细倩简体;
}
@font-face {
	font-family: @方正细倩简体;
}
@font-face {
	font-family: 方正中倩简体;
}
@font-face {
	font-family: @方正中倩简体;
}
@font-face {
	font-family: 方正粗倩简体;
}
@font-face {
	font-family: @方正粗倩简体;
}
@font-face {
	font-family: 方正胖娃简体;
}
@font-face {
	font-family: @方正胖娃简体;
}
@font-face {
	font-family: 方正隶书简体;
}
@font-face {
	font-family: @方正隶书简体;
}
@font-face {
	font-family: 方正隶变简体;
}
@font-face {
	font-family: @方正隶变简体;
}
@font-face {
	font-family: 方正魏碑简体;
}
@font-face {
	font-family: @方正魏碑简体;
}
@font-face {
	font-family: 方正行楷简体;
}
@font-face {
	font-family: @方正行楷简体;
}
@font-face {
	font-family: 方正舒体简体;
}
@font-face {
	font-family: @方正舒体简体;
}
@font-face {
	font-family: 方正隶二简体;
}
@font-face {
	font-family: @方正隶二简体;
}
@font-face {
	font-family: 方正康体简体;
}
@font-face {
	font-family: @方正康体简体;
}
@font-face {
	font-family: 方正新舒体简体;
}
@font-face {
	font-family: @方正新舒体简体;
}
@font-face {
	font-family: 方正黄草简体;
}
@font-face {
	font-family: @方正黄草简体;
}
@font-face {
	font-family: 方正瘦金书简体;
}
@font-face {
	font-family: @方正瘦金书简体;
}
@font-face {
	font-family: 方正平和简体;
}
@font-face {
	font-family: @方正平和简体;
}
@font-face {
	font-family: 方正幼线简体;
}
@font-face {
	font-family: @方正幼线简体;
}
@font-face {
	font-family: 方正卡通简体;
}
@font-face {
	font-family: @方正卡通简体;
}
@font-face {
	font-family: 方正艺黑简体;
}
@font-face {
	font-family: @方正艺黑简体;
}
@font-face {
	font-family: 方正水黑简体;
}
@font-face {
	font-family: @方正水黑简体;
}
@font-face {
	font-family: 方正毡笔黑简体;
}
@font-face {
	font-family: @方正毡笔黑简体;
}
@font-face {
	font-family: 方正古隶简体;
}
@font-face {
	font-family: @方正古隶简体;
}
@font-face {
	font-family: 方正启体简体;
}
@font-face {
	font-family: @方正启体简体;
}
@font-face {
	font-family: 方正硬笔楷书简体;
}
@font-face {
	font-family: @方正硬笔楷书简体;
}
@font-face {
	font-family: 方正硬笔行书简体;
}
@font-face {
	font-family: @方正硬笔行书简体;
}
@font-face {
	font-family: 方正铁筋隶书简体;
}
@font-face {
	font-family: @方正铁筋隶书简体;
}
@font-face {
	font-family: 方正北魏楷书简体;
}
@font-face {
	font-family: @方正北魏楷书简体;
}
@font-face {
	font-family: 方正剪纸简体;
}
@font-face {
	font-family: @方正剪纸简体;
}
@font-face {
	font-family: 方正胖头鱼简体;
}
@font-face {
	font-family: @方正胖头鱼简体;
}
@font-face {
	font-family: 方正粗活意简体;
}
@font-face {
	font-family: @方正粗活意简体;
}
@font-face {
	font-family: 方正流行体简体;
}
@font-face {
	font-family: @方正流行体简体;
}
@font-face {
	font-family: 方正祥隶简体;
}
@font-face {
	font-family: @方正祥隶简体;
}
@font-face {
	font-family: （使用中文字体）;
}
@page  {mso-page-border-surround-header: no; mso-page-border-surround-footer: no; }
@page Section1 {size: 595.3pt 841.9pt; margin: 72.0pt 90.0pt 72.0pt 90.0pt; mso-header-margin: 42.55pt; mso-footer-margin: 49.6pt; mso-paper-source: 0; }
.tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ae1609; LINE-HEIGHT: 160%; TEXT-DECORATION: none
}
.txt12 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12r {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rdate {
	FONT-SIZE: 14px; COLOR: #999999; LINE-HEIGHT: 14pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.txt18 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #003cc8; LINE-HEIGHT: 26px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.wht12 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue12_:link {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue12_:visited {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue12_:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14_:link {
	FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14_:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14_:hover {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14_e:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14_e:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14_e:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.day {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Verdana"
}
.box {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 0px
}
.p1 {
	FONT-SIZE: 16px; COLOR: #000000; LINE-HEIGHT: 180%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.navy {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #003cc8; LINE-HEIGHT: 16px; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.formt {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
.btn {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 {
	FONT-SIZE: 12px; COLOR: #0033cc; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 14px; COLOR: #1e1e1e; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.day {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.xg {
	FONT-SIZE: 14px; COLOR: #023dc7; LINE-HEIGHT: 130%; TEXT-DECORATION: none
}
.link_css {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: "宋体"; LETTER-SPACING: 1px
}
BODY {
	BACKGROUND-COLOR: #e6edf9
}
A:hover {
	COLOR: #ff0000
}
.YW {
	font-face: 楷体_GB2312
}
.BRIEF {
	
}
FONT.BOLD {
	
}
FONT.ITALIC {
	
}
P.MsoNormal {
	FONT-SIZE: 12pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: 宋体; mso-style-parent: ""; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"
}
LI.MsoNormal {
	FONT-SIZE: 12pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: 宋体; mso-style-parent: ""; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"
}
DIV.MsoNormal {
	FONT-SIZE: 12pt; MARGIN: 0cm 0cm 0pt; FONT-FAMILY: 宋体; mso-style-parent: ""; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"
}
P.tbclass {
	FONT-SIZE: 12pt; BACKGROUND: white; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tbclass; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
LI.tbclass {
	FONT-SIZE: 12pt; BACKGROUND: white; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tbclass; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
DIV.tbclass {
	FONT-SIZE: 12pt; BACKGROUND: white; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tbclass; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
P.kh {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kh; mso-hansi-font-family: 宋体
}
LI.kh {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kh; mso-hansi-font-family: 宋体
}
DIV.kh {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kh; mso-hansi-font-family: 宋体
}
P.ytitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ytitle; mso-hansi-font-family: 宋体
}
LI.ytitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ytitle; mso-hansi-font-family: 宋体
}
DIV.ytitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ytitle; mso-hansi-font-family: 宋体
}
P.mtitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: mtitle; mso-hansi-font-family: 宋体
}
LI.mtitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: mtitle; mso-hansi-font-family: 宋体
}
DIV.mtitle {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: mtitle; mso-hansi-font-family: 宋体
}
P.ftitle {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ftitle; mso-hansi-font-family: 宋体
}
LI.ftitle {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ftitle; mso-hansi-font-family: 宋体
}
DIV.ftitle {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ftitle; mso-hansi-font-family: 宋体
}
P.area {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: area; mso-hansi-font-family: 宋体
}
LI.area {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: area; mso-hansi-font-family: 宋体
}
DIV.area {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: area; mso-hansi-font-family: 宋体
}
P.rw {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: rw; mso-hansi-font-family: 宋体
}
LI.rw {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: rw; mso-hansi-font-family: 宋体
}
DIV.rw {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: rw; mso-hansi-font-family: 宋体
}
P.zw {
	TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zw; mso-hansi-font-family: 宋体
}
LI.zw {
	TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zw; mso-hansi-font-family: 宋体
}
DIV.zw {
	TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 10.5pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zw; mso-hansi-font-family: 宋体
}
P.zz {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zz; mso-hansi-font-family: 宋体
}
LI.zz {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zz; mso-hansi-font-family: 宋体
}
DIV.zz {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zz; mso-hansi-font-family: 宋体
}
P.ly {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ly; mso-hansi-font-family: 宋体
}
LI.ly {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ly; mso-hansi-font-family: 宋体
}
DIV.ly {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ly; mso-hansi-font-family: 宋体
}
P.tc {
	FONT-SIZE: 18pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tc; mso-hansi-font-family: 宋体
}
LI.tc {
	FONT-SIZE: 18pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tc; mso-hansi-font-family: 宋体
}
DIV.tc {
	FONT-SIZE: 18pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 黑体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: tc; mso-hansi-font-family: 宋体
}
P.zl {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zl; mso-hansi-font-family: 宋体
}
LI.zl {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zl; mso-hansi-font-family: 宋体
}
DIV.zl {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zl; mso-hansi-font-family: 宋体
}
P.zk {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zk; mso-hansi-font-family: 宋体
}
LI.zk {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zk; mso-hansi-font-family: 宋体
}
DIV.zk {
	FONT-SIZE: 14pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正仿宋简体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: zk; mso-hansi-font-family: 宋体
}
P.xb {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
LI.xb {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
DIV.xb {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
P.xb1 {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
LI.xb {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
DIV.xb {
	FONT-SIZE: 10.5pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正书宋简体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: xb; mso-hansi-font-family: 宋体
}
P.ht {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 黑体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ht; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
LI.ht {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 黑体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ht; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
DIV.ht {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 黑体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: ht; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
P.kt {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 楷体_GB2312; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
LI.kt {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 楷体_GB2312; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
DIV.kt {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; MARGIN-RIGHT: 0cm; FONT-FAMILY: 楷体_GB2312; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: kt; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto; mso-hansi-font-family: 宋体
}
P.column {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: column
}
LI.column {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: column
}
DIV.column {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: column
}
P.volume {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: volume
}
LI.volume {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: volume
}
DIV.volume {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #000066; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: volume
}
P.yw {
	FONT-WEIGHT: bold; TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 11pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 楷体_GB2312; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: yw; mso-hansi-font-family: 宋体
}
LI.yw {
	FONT-WEIGHT: bold; TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 11pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 楷体_GB2312; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: yw; mso-hansi-font-family: 宋体
}
DIV.yw {
	FONT-WEIGHT: bold; TEXT-JUSTIFY: inter-ideograph; FONT-SIZE: 11pt; MARGIN: 1.5pt 5pt 0pt; COLOR: black; FONT-FAMILY: 楷体_GB2312; TEXT-ALIGN: justify; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: yw; mso-hansi-font-family: 宋体
}
P.img {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: img
}
LI.img {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: img
}
DIV.img {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: img
}
P.jj {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: blue; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jj
}
LI.jj {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: blue; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jj
}
DIV.jj {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: blue; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jj
}
P.pre {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #906700; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: pre
}
LI.pre {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #906700; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: pre
}
DIV.pre {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #906700; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: pre
}
P.brief {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #0080ff; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: brief
}
LI.brief {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #0080ff; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: brief
}
DIV.brief {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #0080ff; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: brief
}
P.jz {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jz
}
LI.jz {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jz
}
DIV.jz {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jz
}
P.jr {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 宋体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jr
}
LI.jr {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 宋体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jr
}
DIV.jr {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 宋体; TEXT-ALIGN: right; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jr
}
P.jl {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; COLOR: #906700; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jl; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
LI.jl {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; COLOR: #906700; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jl; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
DIV.jl {
	FONT-SIZE: 12pt; MARGIN-LEFT: 0cm; COLOR: #906700; MARGIN-RIGHT: 0cm; FONT-FAMILY: 宋体; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: jl; mso-margin-top-alt: auto; mso-margin-bottom-alt: auto
}
P.imgsm {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgsm
}
LI.imgsm {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgsm
}
DIV.imgsm {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgsm
}
P.imgaut {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgaut
}
LI.imgaut {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgaut
}
DIV.imgaut {
	FONT-SIZE: 12pt; MARGIN: 1.5pt 0cm 0pt; COLOR: #006fff; FONT-FAMILY: 宋体; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: imgaut
}
SPAN.ht1 {
	FONT-WEIGHT: bold; mso-style-name: ht1; mso-ascii-font-family: 黑体; mso-fareast-font-family: 黑体
}
P.a {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; LETTER-SPACING: 16.95pt; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: 普通; mso-hansi-font-family: 宋体
}
LI.a {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; LETTER-SPACING: 16.95pt; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: 普通; mso-hansi-font-family: 宋体
}
DIV.a {
	FONT-SIZE: 22pt; MARGIN: 1.5pt 0cm 0pt; COLOR: black; FONT-FAMILY: 方正小标宋简体; LETTER-SPACING: 16.95pt; TEXT-ALIGN: center; mso-pagination: widow-orphan; mso-bidi-font-family: "Times New Roman"; mso-style-name: 普通; mso-hansi-font-family: 宋体
}
SPAN.msoIns {
	COLOR: teal; TEXT-DECORATION: underline; mso-style-name: ""; mso-style-type: export-only; text-underline: single
}
SPAN.msoDel {
	COLOR: red; TEXT-DECORATION: line-through; mso-style-name: ""; mso-style-type: export-only
}
SPAN.msoChangeProp {
	COLOR: black; mso-style-name: ""; mso-style-type: export-only
}
DIV.Section1 {
	page: Section1
}
.tit {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ae1609; LINE-HEIGHT: 160%; TEXT-DECORATION: none
}
.txt12 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12r {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.txt12:hover {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 130%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.rdate {
	FONT-SIZE: 14px; COLOR: #999999; LINE-HEIGHT: 14pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.txt18 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #003cc8; LINE-HEIGHT: 26px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.wht12 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue12_:link {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue12_:visited {
	FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue12_:hover {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14_:link {
	FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14_:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14_:hover {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"; TEXT-DECORATION: underline
}
.blue14:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.blue14_e:link {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14_e:visited {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue14_e:hover {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.day {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Verdana"
}
.box {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 0px
}
.p1 {
	FONT-SIZE: 16px; COLOR: #000000; LINE-HEIGHT: 180%; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.navy {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; COLOR: #003cc8; LINE-HEIGHT: 16px; BORDER-BOTTOM: medium none; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.formt {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #ffffff
}
.btn {
	FONT-SIZE: 10px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.blue12 {
	FONT-SIZE: 12px; COLOR: #0033cc; LINE-HEIGHT: 16px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 14px; COLOR: #1e1e1e; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.day {
	FONT-SIZE: 12px; COLOR: #666666; FONT-FAMILY: "Verdana", "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.xg {
	FONT-SIZE: 14px; COLOR: #023dc7; LINE-HEIGHT: 130%; TEXT-DECORATION: none
}
.redframe {
	BORDER-RIGHT: #ff0000 2px solid; BORDER-TOP: black 0px solid; BORDER-LEFT: black 0px solid; BORDER-BOTTOM: black 0px solid; BACKGROUND-COLOR: #ffffff
}
.link_css {
	FONT-SIZE: 12px; LINE-HEIGHT: 15px; FONT-FAMILY: "宋体"; LETTER-SPACING: 1px
}
