body {
	font-family: "ו", Arial;
	font-size: 12px;
	line-height: 20px;
	color: #000000;
	margin: 0px;
}
.logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	width:981;
	height:103;
}

.font01 {
	font-family: "ו", Arial;
	font-size: 12px;
	line-height: 25px;
	font-weight: normal;
	color: #000000;
	padding-left:15px;
}
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
.jians{
	border: 1px solid #f2d18d;
	font-family: "ו", Arial;
	font-size: 12px;
	line-height: 25px; 
	background-image: url(../images/bg.jpg);
}
.kuang-1 {
	background-color: #f8f8f8;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #f2d18d;
	border-left-color: #f2d18d;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #f2d18d;
}
